{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Signup</h2>

    {% if msg %}
        <div class="alert alert-success">{{ msg }}</div>
    {% endif %}

    <form method="POST">
        {% csrf_token %}

        <input type="text" name="username" class="form-control mb-3" placeholder="Username">
        <input type="email" name="email" class="form-control mb-3" placeholder="Email">
        <input type="password" name="password" class="form-control mb-3" placeholder="Password">

        <button class="btn btn-primary">Signup</button>
    </form>
</div>
{% endblock %}