.main{
    background-color: aqua;
}
#Form{
    padding: 30px 38% ;
}
#sbmit{
    color: red;
    border: 2px solid black;
}
#sbmit:hover{
    color: blue;
    border: 2px solid green;
    border-radius: 10px;
    transition: 0.6s;
}
#h3{
    color: red;
}