@media only screen and (max-width:1160px) {}

@media only screen and (max-width:992px) {}
@media only screen and (max-width:768px){
     .nav-ul {
        display: none;
    }

    .icon .bar {
        display: block;
    }

    .icon .search {
        display: none;
    }
    .header-container .row{
        display: block;
    }
    .header-container .row .col{
        width: 100%;
    }
    /* Menu start */
    .menu-card .row{
        display: block;
    }
    .row .col {
        width: 80%;
        margin: 0% auto;
    }
    .card .card-btn{
        margin: 0% 30%;
    }
    /* Menu end */
     /* update start */
    .update .update-p {
        width: 60%;
    }
    .update .update-btn{
        margin: 0px 35%;
    }
    /* update stop */
    /*footer start  */
     #foot .row {
        display: block;
        width: 100%;
    }
    #foot .row .col{
        width: 90%;
    }
    /* footer end */
}